@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* VARIABLES */
:root {
  --bg-primary-color: #0a0a0a;
  --bg-secondary-color: #ffffff;
  --bg-tertiary-color: #f5f5f5;
  --bg-cards: #ffffff;
  --bg-btn: #84cc16;

  --title-primary-color: #0a0a0a;
  --title-secondary-color: #ffffff;
  --subtitle-primary-color: #737373;
  --subtitle-secondary-color: #d1d5db;
  --hover-color: #84cc16;
  --border-color: rgba(255,255,255,0.1);

  --title-primary-size: 45px;
  --title-secondary-size: 30px;
  --subtitle-primary-size: 24px;
}

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

img {
  width: 100px;
}

/* ESTILOS GENERALES */
* {
  font-family: "Inter", sans-serif;
}

header, footer {
  background-color: var(--bg-primary-color);
  color: var(--title-secondary-color);
}

h1 {
  color: var(--title-secondary-color);
  font-size: var(--title-primary-size);
}

h2 {
  color: var(--title-primary-color);
  font-size: var(--title-secondary-size);
}

h3 {
  color: var(--bg-primary-color);
  font-weight: bold;
  font-size: var(--subtitle-primary-size);
}

/* NAV */
nav {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

nav > img {
  width: 20%;
  padding: 10px;
}

nav > ul {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav a:hover {
  color: var(--hover-color);
  transition: all 0.1s linear;
}

/* HERO INDEX */
#hero-principal {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#hero-principal > img {
  width: 25%;
  padding: 20px 0;
  border-radius: 50px;
}

#hero-principal > div {
  width: 30%;
}